In [8]:
import pandas as pd
import ast

In [9]:
games = pd.read_csv(r"C:\Users\Anu Singh\OneDrive\Desktop\datasets\video game\games.csv")
vgsales = pd.read_csv(r"C:\Users\Anu Singh\OneDrive\Desktop\datasets\video game\vgsales.csv")

In [10]:
print(games.head())
print(vgsales.head())
print(games.info())
print(vgsales.info())

   game_id                                    Title  Release Date  \
0        0                               Elden Ring  Feb 25, 2022
1        1                                    Hades  Dec 10, 2019
2        2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3        3                                Undertale  Sep 15, 2015
4        4                            Hollow Knight  Feb 24, 2017

                                                Team  Rating Times Listed  \
0     ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                               ['Supergiant Games']     4.3         2.9K
2  ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                 ['tobyfox', '8-4']     4.2         3.5K
4                                    ['Team Cherry']     4.4           3K

  Number of Reviews                                             Genres  \
0              3.9K                               ['Adventure', 'RPG']
1              2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2              4.3K                               ['Adventure', 'RPG']
3              3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                3K                 ['Adventure', 'Indie', 'Platform']

                                             Summary  \
0  Elden Ring is a fantasy, action and open world...
1  A rogue-lite hack and slash dungeon crawler in...
2  The Legend of Zelda: Breath of the Wild is the...
3  A small child falls into the Underground, wher...
4  A 2D metroidvania with an emphasis on close co...

                                             Reviews Plays Playing Backlogs  \
0  ["The first playthrough of elden ring is one o...   17K    3.8K     4.6K
1  ['convinced this is a roguelike for people who...   21K    3.2K     6.3K
2  ['This game is the game (that is not CS:GO) th...   30K    2.5K       5K
3  ['soundtrack is tied for #1 with nier automata...   28K     679     4.9K
4  ["this games worldbuilding is incredible, with...   21K    2.4K     8.3K

  Wishlist
0     4.8K
1     3.6K
2     2.6K
3     1.8K
4     2.3K
   Rank                      Name Platform    Year         Genre Publisher  \
0     1                Wii Sports      Wii  2006.0        Sports  Nintendo
1     2         Super Mario Bros.      NES  1985.0      Platform  Nintendo
2     3            Mario Kart Wii      Wii  2008.0        Racing  Nintendo
3     4         Wii Sports Resort      Wii  2009.0        Sports  Nintendo
4     5  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing  Nintendo

   NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     41.49     29.02      3.77         8.46         82.74
1     29.08      3.58      6.81         0.77         40.24
2     15.85     12.88      3.79         3.31         35.82
3     15.75     11.01      3.28         2.96         33.00
4     11.27      8.89     10.22         1.00         31.37
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   game_id            1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB
None

In [11]:
# Convert 'Release Date' column to datetime format
games['Release Date'] = pd.to_datetime(games['Release Date'], errors='coerce')

In [12]:
list_columns = ['Team', 'Genres', 'Reviews']

for col in list_columns:
    games[col] = games[col].fillna('[]').apply(ast.literal_eval)

In [13]:
games['title_norm'] = games['Title'].str.lower().str.strip()
vgsales['name_norm'] = vgsales['Name'].str.lower().str.strip()

In [14]:
import re

def convert_k_notation(val):
    if pd.isnull(val):
        return None
    if isinstance(val, (int, float)):
        return val
    val = val.strip()
    match = re.match(r'^([\d\.]+)k$', val, flags=re.IGNORECASE)
    if match:
        return float(match.group(1)) * 1000
    # Just try float conversion if no K found
    try:
        return float(val.replace(',', ''))
    except:
        return None

games['Times Listed'] = games['Times Listed'].apply(convert_k_notation)
games['Number of Reviews'] = games['Number of Reviews'].apply(convert_k_notation)

In [15]:
for col in ['Times Listed', 'Number of Reviews', 'Rating', 'Plays', 'Playing', 'Backlogs', 'Wishlist']:
    games[col] = pd.to_numeric(games[col], errors='coerce')

In [16]:
vgsales['Year'] = pd.to_numeric(vgsales['Year'], errors='coerce')

In [17]:
games['Release Year'] = games['Release Date'].dt.year

In [18]:
games.to_csv('games_cleaned.csv', index=False)
vgsales.to_csv('vgsales_cleaned.csv', index=False)

In [22]:
games.isnull().sum()

game_id                 0
Title                   0
Release Date            3
Team                    0
Rating                 13
Times Listed            0
Number of Reviews       0
Genres                  0
Summary                 1
Reviews                 0
Plays                1341
Playing                87
Backlogs              759
Wishlist              409
title_norm              0
Release Year            3
dtype: int64

In [89]:
import pandas as pd
import ast
import re

# Load data (if not loaded already)
games = pd.read_csv(r'C:\Users\Anu Singh\OneDrive\Desktop\datasets\video game\games.csv')
vgsales = pd.read_csv(r'C:\Users\Anu Singh\OneDrive\Desktop\datasets\video game\vgsales.csv')

# Convert 'Release Date' to datetime
games['Release Date'] = pd.to_datetime(games['Release Date'], errors='coerce')

# Parse list-like string columns safely ('Team', 'Genres', 'Reviews')
for col in ['Team', 'Genres', 'Reviews']:
    games[col] = games[col].fillna('[]').apply(ast.literal_eval)

# Normalize title columns for joining
games['title_norm'] = games['Title'].str.lower().str.strip()
vgsales['name_norm'] = vgsales['Name'].str.lower().str.strip()

# Convert 'Year' in vgsales to numeric
vgsales['Year'] = pd.to_numeric(vgsales['Year'], errors='coerce')

# Convert K-notation strings in numeric columns to numbers
def convert_k_notation(val):
    if pd.isna(val):
        return None
    if isinstance(val, (int, float)):
        return val
    val = str(val).strip()
    match = re.match(r'^([\d\.]+)k$', val, flags=re.IGNORECASE)
    if match:
        return float(match.group(1)) * 1000
    try:
        return float(val.replace(',', ''))
    except:
        return None

games['Times Listed'] = games['Times Listed'].apply(convert_k_notation)
games['Number of Reviews'] = games['Number of Reviews'].apply(convert_k_notation)

# Convert other numeric columns explicitly
numeric_cols = ['Times Listed', 'Number of Reviews', 'Rating', 'Plays', 'Playing', 'Backlogs', 'Wishlist']
for col in numeric_cols:
    games[col] = pd.to_numeric(games[col], errors='coerce')

# Extract Release Year for analysis
games['Release Year'] = games['Release Date'].dt.year

# --- CLEANING NULL VALUES ---

# Define columns where nulls are critical; drop rows missing these
required_games_cols = ['Title', 'Release Date', 'Rating', 'Times Listed', 'Number of Reviews']
games_cleaned = games.dropna(subset=required_games_cols)

# For columns with many nulls but important for analysis, fill with 0 (or suitable default)
fill_zero_cols = ['Plays', 'Playing', 'Backlogs', 'Wishlist']
games_cleaned[fill_zero_cols] = games_cleaned[fill_zero_cols].fillna(0)
vgsales['Publisher'] = vgsales['Publisher'].fillna('Unknown')
vgsales['Publisher'] = vgsales['Publisher'].fillna('Unknown')

# Confirm no nulls
print(vgsales['Publisher'].isnull().sum())  # Should output 0

# Optionally save the dataset
vgsales.to_csv('vgsales_publisher_filled.csv', index=False)
vgsales['Publisher'] = vgsales['Publisher'].fillna('Unknown')

# Confirm no nulls
print(vgsales['Publisher'].isnull().sum())  # Should output 0

# Optionally save the dataset
vgsales.to_csv('vgsales_publisher_filled.csv', index=False)

# For vgsales, drop rows with missing critical fields like 'Year' and 'Global_Sales'
vgsales_cleaned = vgsales.dropna(subset=['Year', 'Global_Sales'])

# Optional: reset index after cleaning
games_cleaned = games_cleaned.reset_index(drop=True)
vgsales_cleaned = vgsales_cleaned.reset_index(drop=True)

# Check remaining nulls (should be none in critical columns)
print("Games nulls after cleaning:\n", games_cleaned.isnull().sum())
print("VGsales nulls after cleaning:\n", vgsales_cleaned.isnull().sum())

# Save cleaned datasets
games_cleaned.to_csv('games_cleaned_no_nulls.csv', index=False)
vgsales_cleaned.to_csv('vgsales_cleaned_no_nulls.csv', index=False)

C:\Users\Anu Singh\AppData\Local\Temp\ipykernel_14868\158778359.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  games_cleaned[fill_zero_cols] = games_cleaned[fill_zero_cols].fillna(0)

0
0
Games nulls after cleaning:
 game_id              0
Title                0
Release Date         0
Team                 0
Rating               0
Times Listed         0
Number of Reviews    0
Genres               0
Summary              0
Reviews              0
Plays                0
Playing              0
Backlogs             0
Wishlist             0
title_norm           0
Release Year         0
dtype: int64
VGsales nulls after cleaning:
 Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
name_norm       0
dtype: int64

In [51]:
pip install pandas sqlalchemy psycopg2-binary

Requirement already satisfied: pandas in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (2.3.0)
Requirement already satisfied: sqlalchemy in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl.metadata (4.8 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.0)
Requirement already satisfied: six>=1.5 in c:\users\anu singh\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading psycopg2_binary-2.9.10-cp313-cp313-win_amd64.whl (2.6 MB)
   ---------------------------------------- 0.0/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.6 MB ? eta -:--:--
   ------------------------------------ --- 2.4/2.6 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------- 2.6/2.6 MB 4.1 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [107]:
from sqlalchemy import create_engine, text

engine = create_engine("postgresql+psycopg2://postgres:7852@localhost:5432/analysis_videogame_db")

create_schema_sql = """
DROP TABLE IF EXISTS game_sales CASCADE;
DROP TABLE IF EXISTS games CASCADE;
DROP TABLE IF EXISTS vgsales CASCADE;

CREATE TABLE games (
    game_id SERIAL PRIMARY KEY,
    title TEXT,
    title_norm TEXT UNIQUE,
    release_date DATE,
    release_year INT,
    team TEXT[],
    rating REAL,
    times_listed BIGINT,
    number_of_reviews BIGINT,
    genres TEXT[],
    summary TEXT,
    reviews TEXT[],
    plays BIGINT DEFAULT 0,
    playing BIGINT DEFAULT 0,
    backlogs BIGINT DEFAULT 0,
    wishlist BIGINT DEFAULT 0
);

CREATE TABLE vgsales (
    rank INT PRIMARY KEY,
    name TEXT,
    name_norm TEXT UNIQUE,
    platform TEXT,
    year INT,
    genre TEXT,
    publisher TEXT,
    na_sales REAL DEFAULT 0,
    eu_sales REAL DEFAULT 0,
    jp_sales REAL DEFAULT 0,
    other_sales REAL DEFAULT 0,
    global_sales REAL DEFAULT 0
);

CREATE TABLE game_sales (
    id SERIAL PRIMARY KEY,
    game_id INT REFERENCES games(game_id) ON DELETE CASCADE,
    sales_rank INT REFERENCES vgsales(rank) ON DELETE CASCADE,
    UNIQUE (game_id, sales_rank)
);
"""

with engine.begin() as conn:
    conn.execute(text(create_schema_sql))
    print("Tables dropped and created successfully.")

Tables dropped and created successfully.

In [108]:
import pandas as pd
import ast

# Load CSV data
games_df = pd.read_csv("games_cleaned.csv")
vgsales_df = pd.read_csv("vgsales_cleaned.csv")

# Normalize columns: lowercase, underscores, no spaces
games_df.columns = games_df.columns.str.strip().str.lower().str.replace(' ', '_')
vgsales_df.columns = vgsales_df.columns.str.strip().str.lower().str.replace(' ', '_')

# Convert stringified list columns to actual lists
for col in ['team', 'genres', 'reviews']:
    if col in games_df.columns:
        games_df[col] = games_df[col].fillna('[]').apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

# Create normalized title/name columns if missing
if 'title_norm' not in games_df.columns:
    games_df['title_norm'] = games_df['title'].str.lower().str.strip()
if 'name_norm' not in vgsales_df.columns:
    vgsales_df['name_norm'] = vgsales_df['name'].str.lower().str.strip()

# Drop duplicates on the unique key before insert
games_df = games_df.drop_duplicates(subset=['title_norm'])
vgsales_df = vgsales_df.drop_duplicates(subset=['name_norm'])

In [109]:
games_df.to_sql('games', engine, if_exists='append', index=False, method='multi')
print(f"Inserted {len(games_df)} rows into 'games'.")

vgsales_df.to_sql('vgsales', engine, if_exists='append', index=False, method='multi')
print(f"Inserted {len(vgsales_df)} rows into 'vgsales'.")

Inserted 1099 rows into 'games'.
Inserted 11493 rows into 'vgsales'.

In [110]:
populate_game_sales_sql = """
INSERT INTO game_sales (game_id, sales_rank)
SELECT g.game_id, v.rank
FROM games g
JOIN vgsales v ON g.title_norm = v.name_norm AND g.release_year = v.year
ON CONFLICT DO NOTHING;
"""

with engine.begin() as conn:
    result = conn.execute(text(populate_game_sales_sql))
    print(f"Inserted {result.rowcount} rows into 'game_sales'.")

Inserted 411 rows into 'game_sales'.

In [113]:
missing_genres = games_df['genres'].isna().sum() + (games_df['genres'] == '').sum()
print(f"Number of rows with missing genre: {missing_genres}")

Number of rows with missing genre: 0